body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}

header {
  background-color: #003840;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 2px solid darkgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-left: auto;
}

nav #navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 2px;
  justify-content: flex-end;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav #navbar a:hover {
  background-color: #005a68;
}

.hidden {
  display:none;
}


#hero {
  background-color: #eee;
  text-align: center;
  padding: 50px 20px;
}

#hero h1 {
  color: #333;
}

#hero p {
  color: #555;
}

#hero .cta-button {
  padding: 10px 30px;
  background-color: #5cb85c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#hero .cta-button:hover {
  background-color: #4cae4c;
}

.service-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

h2{
  text-align: center;
}

.service {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  flex-basis: 30%;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  animation: entradas 750ms linear 1 forwards;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.logoimg{
  width: 100px; /* Puedes ajustar el ancho según tus necesidades */
  height: auto
}

@media (max-width: 600px) {
  .service-container {
      flex-direction: column;
  }

  .service {
      flex-basis: 100%;
  }
}

.centered-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8%;
  align-items: center;
  height: 88vh;
  padding: 0 20px; /* Añade algo de padding a los lados para evitar que el formulario toque los bordes de la pantalla */
}

.form-container {
  width: 800%;
  max-width: 800px; /* Establece un ancho máximo para el formulario */
  margin: auto; /* Centrado automático horizontal */
  margin-bottom: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: entradas 500ms linear 1 forwards;
}

.questions-options {
  width: 100%;
  display: flex;
}

.questions-container {
  height: 500px; /* Altura máxima para el contenedor de preguntas */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más largo que la altura máxima */
  margin-bottom: 20px; /* Espacio antes del botón enviar */
}

.options-group {
  text-align: left;
  flex: 1;
}

.questions {
  width: 32%;
}

form {
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 1.5em; /* Tamaño del título del formulario */
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #333;
  font-size: 0.9em; /* Tamaño de la fuente para las etiquetas */
  margin-top: 15px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="radio"],
input[type="radio"] + label {
  margin: 5px 10px 5px 0;
}

button {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px; /* Más espacio antes del botón enviar */
  width: 32%;
}

button:hover {
  background-color: #0056b3;
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white; /* Color del texto del pop-up */
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  display: none;
}

.popup-message {
  font-size: 18px;
  font-weight: bold;
}

@keyframes slideDown {
  from {
      top: -50px;
  }
  to {
      top: 0;
  }
}

@keyframes slideUp {
  from {
      top: 0;
  }
  to {
      top: -50px;
  }
}

@keyframes entrada1{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

@keyframes entradas{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}