body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('http://127.0.0.1:8000/static/Registro/fondo.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
}

.activate-account-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}


input[type="code"] {
  width: calc(100% - 20px);
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.activate-account-button {
  width: 100%;
  padding: 10px;
  background-color: #50AF95;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.activate-account-button:hover {
  background-color: #0056b3;
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; /* Color de fondo del pop-up */
  color: white; /* Color del texto del pop-up */
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  display: none;
}

.popup-message {
  font-size: 18px;
  font-weight: bold;
}

@keyframes slideDown {
  from {
      top: -50px;
  }
  to {
      top: 0;
  }
}

@keyframes slideUp {
  from {
      top: 0;
  }
  to {
      top: -50px;
  }
}
